.checkedStl {
  text-decoration: line-through;
}

.todo-form {
  width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
  text-align: center;
  color: black;
  /* background-color: antiquewhite; */
  font-size: 20px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}
.input {
  padding: 6px;
  width: 200px;
  max-width: 90%;
  font-size: 1rem;
  letter-spacing: 1px;
  gap: 8px;
  margin-bottom: 10px;
}
